@font-face {
    font-family: 'Dihjauti';
    src: local('Dihjauti Regular'), local('Dihjauti-Regular'),
        url('Dihjauti-Regular.woff2') format('woff2'),
        url('Dihjauti-Regular.woff') format('woff'),
        url('Dihjauti-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }